body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
    }

    h1{
        font-size: 3rem;
        line-height: 1.3em;
        text-shadow: 3px 3px 4px rgb(5, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 0.5cm;
    }
    
    .principal{
        height: 500px;
        width: 1000px;
        background-color: rgb(227, 255, 125));
        margin: auto;

    }

    .encabezado{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: rgb(0, 255, 200);
       
    
    }
    
    .container{
            width: 100%;
            height: 20%;
           
            margin: 0 auto;      
    }

    .contenido{
        width: 100%;
        height: 80%;
        margin: 0 auto;
        background-color: rgb(191, 255, 89);
    }

    .info{
        display: inline-block;
        height: 0 auto;
        text-align: center;
        padding-left: 5px;
    }
        .info label{
            display: inline-block;
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .pie{
            width: 100%;
            background-color: rgb(255, 92, 92);
        }

            .pie h6{
                color: rgb(0, 0, 0);
                text-align: center;
                
            }

    .botones{
        display: inline-block;
        text-align: center;
        padding-left: 10px;
        
    }


.general{
    padding-left: 250px;
}

.historial{
    padding-left: 400px;
}


.resultados{
    background-color: pink;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    
}